---
title: GeauxWeisbeck4.dev | Home of Andrew Weisbeck
---
<div class="w-screen flex flex-col items-center justify-center bg-#030F2C h-100vh">
      <div class="flex border-b-3 border-emerald-300 pb-20">
        <div class="flex-1 max-w-5xl ml-20 mr-20">
            <h1 class="text-6xl font-bold mb-6 text-rose-500">Hey y'all! I'm Andrew.</h1>
            <h2 class="text-3xl font-bold mt-2 mb-6 text-sky-300 max-w-xl">Freelance Full Stack Developer, Creator, & Entrepreneur</h2>
            <p class="text-left text-md max-w-xl mb-4 text-slate-50">
              I'm currently working as a free lance developer and am open to any new opportunities
            </p>
            <div

          <nav class="mt-8 mb-4">
            <a class="inline-flex items-center justify-center border-3 border-pink-500 rounded hover:border-emerald-300 w-60 h-12 mr-4 mt-2 bg-emerald-400 hover:bg-rose-300 text-slate-50 hover:text-slate-900 font-bold px-2 py-2" href="/contact">

              Contact me
            </a>
            <a class="inline-flex items-center justify-center border-3 border-emerald-300 hover:border-rose-300 rounded-md w-60 h-12 bg-rose-400 hover:bg-sky-300 text-slate-50 hover:text-slate-900 font-bold mt-2 px-2 py-2" href="/todo">
              Create To Do List
            </a>
          </nav>
        </div>
        <p class="logo mr-20">
          <img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670070676/undraw_programming_re_kg9v_iy6ngb.svg" width="500" height="500" title="@GeauxWeisbeck4" alt="me at my coding desk"  />
        </p>
      </div>
      <div class="flex">
        <div class="flex-1 max-w-5xl ml-20 mr-20">
          <h1 class="text-4xl font-bold mt-2 mb-6 text-#59BF72 mt-10">Featured Blog Posts</h1>
          <div class="flex gap-6 flex-col md:flex-row">

          </div>
        </div>
      </div>
    </div>