---
title: GeauxWeisbeck4.dev | Home of Andrew Weisbeck
skills:
      - name: Python
        level: 4.5
      - name: React
        level: 4
      - name: JavaScript
        level: 4
      - name: Rust
        level: 3
      - name: HTML & CSS
        level: 5
      - name: Deno
        level: 4
      - name: Node.js
        level: 4
      - name: Next.js
        level: 4.5
      - name: PostgreSQL
        level: 4
      - name: SQL
        level: 4
      - name: Flask
        level: 4
      - name: Django
        level: 4
---
<div class="w-screen flex flex-col items-center justify-center bg-slate-900 h-auto">
      <div class="flex pb-20 mt-14">
        <div class="flex-1 max-w-5xl ml-20 mr-20 pt-4">
            <h1 class="text-6xl font-bold mb-6 text-rose-500">Hey y'all! I'm Andrew.</h1>
            <h2 class="text-3xl font-bold mt-2 mb-6 text-sky-300 max-w-xl">Freelance Full Stack Developer, Creator, & Entrepreneur</h2>
            <p class="text-left text-md max-w-xl mb-4 text-slate-50">
              I'm currently working as a free lance developer and am open to any new opportunities
            </p>


          <nav class="mt-8 mb-4">
            <a class="inline-flex items-center justify-center border-3 border-pink-500 rounded hover:border-emerald-700 w-60 h-12 mr-4 mt-2 bg-emerald-700 hover:bg-sky-300 text-slate-50 hover:text-slate-900 font-bold px-2 py-2" href="/contact">

              Contact me
            </a>
            <a class="inline-flex items-center justify-center border-3 border-emerald-300 hover:border-pink-500 rounded-md w-60 h-12 bg-pink-500 hover:bg-sky-300 text-slate-50 hover:text-slate-900 font-bold mt-2 px-2 py-2" href="/projects">
              My Work
            </a>
          </nav>
        </div>
        <p class="logo mr-20">
          <img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670070676/undraw_programming_re_kg9v_iy6ngb.svg" width="500" height="500" title="@GeauxWeisbeck4" alt="me at my coding desk" class="pt-4"  />
        </p>
      </div>



     <!-- Featured Projects -->
      <div class="py-4">
        <div class="container m-auto px-6 md:px-12 xl:px-6">
          <div class="mb-12 space-y-2 text-center pb-6">
            <h1 class="text-6xl font-bold text-emerald-400 mt-10">Featured Projects</h1>
            <h2 class="text-2xl font-bold pt-4 text-sky-300">Check the full showcase on my <a href="/projects" class="text-yellow-400 hover:text-rose-500">project portfolio page</a></h2>
          </div>
          <div class="grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-7 my-10">
                 <!-- Card 1 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                   <a href="/projects/huskerjs-dev" target="_blank">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1667805828/default_r15hwh.png" alt="HuskerJS.dev website homepage" />
                   </a>
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         HuskerJS.dev - The College Sports Blogging Platform
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Utilizing JavaScript to create fun and engaging college sports experiences for bloggers and fans.
                         </p>
                         <a class="mt-3 text-gray-800" href="/projects/huskerjs-dev">Read More >></a>
                     </div>
                 </div>

                 <!-- Card 2 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://images.unsplash.com/photo-1607748862156-7c548e7e98f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdvbWVuJTIwZW1wb3dlcm1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         International Women's Day 2022: Date, history, significance, theme this year
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Happy Women's Day 2022: Read on to know all about the history and significance...
                         </p>
                         <a class="mt-3 block" href="#">Read More >></a>
                     </div>
                 </div>

                 <!-- Card 3 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://images.unsplash.com/photo-1637419450536-378d5457abb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHdvbWVuJTIwZW1wb3dlcm1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         International Women's Day 2022: Date, history, significance, theme this year
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Happy Women's Day 2022: Read on to know all about the history and significance...
                         </p>
                         <a class="mt-3 block" href="#">Read More >></a>
                     </div>
                 </div>

                 <!-- Card 4 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://images.unsplash.com/photo-1621352404112-58e2468993a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHdvbWVuJTIwZW1wb3dlcm1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         International Women's Day 2022: Date, history, significance, theme this year
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Happy Women's Day 2022: Read on to know all about the history and significance...
                         </p>
                         <a class="mt-3 block" href="#">Read More >></a>
                     </div>
                 </div>

                 <!-- Card 5 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://images.unsplash.com/photo-1607868894064-2b6e7ed1b324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdvbWVuJTIwZW1wb3dlcm1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         International Women's Day 2022: Date, history, significance, theme this year
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Happy Women's Day 2022: Read on to know all about the history and significance...
                         </p>
                         <a class="mt-3 block" href="#">Read More >></a>
                     </div>
                 </div>

                 <!-- Card 6 -->
                 <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                     <img class="h-56 lg:h-60 w-full object-cover" src="https://images.unsplash.com/photo-1633329712176-4751f52ccc1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHdvbWVuJTIwZW1wb3dlcm1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
                     <div class="p-3">
                         <span class="text-sm text-primary">November 19, 2022</span>
                         <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                         International Women's Day 2022: Date, history, significance, theme this year
                         </h3>
                         <p class="paragraph-normal text-gray-600">
                         Happy Women's Day 2022: Read on to know all about the history and significance...
                         </p>
                         <a class="mt-3 block" href="#">Read More >></a>
                     </div>
                 </div>
             </div>

        </div>
      </div>

           <!-- Skills Section -->
           <div class="mx-auto pt-14 pb-2 w-[80vw]">
              <section class="block">
                <h2 class="text-5xl text-center text-teal-400 font-bold pt-2 pb-8 px-2">Skills</h3>
                <ul class="flex flex-wrap flex-1 flex-row items-start m-0 p-0 list-none">
                {% for skill in skills %}
                <li class="grow shrink basis-1/2 w-1/2 py-6 px-4 box-border">
                  <span class="py-1 px-0 pb-6 inline-block text-3xl font-bold">{{ skill.name }}</span>
                <div class="bg-gray-300 rounded-2xl block">
                  <span class="p-2 block rounded-2xl font-bold bg-sky-500 ease-in-out" style="width: {{ skill.level * 20 }}%">{{ skill.level * 20 }}%</span>
                </div>
                 </li>
                  {% endfor %}
              </section>
           </div>
    </div>