---
title: Andrew's Portfolio
---

<div class="w-screen flex flex-col items-center justify-center bg-slate-900 h-auto">
      <div class="flex pb-20 mt-14">
        <div class="flex-1 max-w-5xl ml-20 mr-20 pt-4">
            <h1 class="text-6xl font-bold mb-10 text-emerald-500">My Projects</h1>
            <h2 class="text-3xl font-bold mt-2 mb-6 text-sky-300 max-w-180">Here are some projects I've completed and others that I'm currently working on</h2>
        </div>
      </div>

 		<div class="container flex flex-col items-center justify-center min-h-screen mx-auto">

 			<!-- experience -->
 			<div class="w-full">
 				<div class="mb-2 text-2xl font-medium">Completed Projects</div>
 				<div class="flex flex-wrap overflow-hidden md:-mx-6">
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670739105/geauxweisbeck4version2_zixpq0.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">GeauxWeisbeck4.dev</div>
 								<p class="mb-4 text-slate-900">
 								  This is GeauxWeisbeck4.dev created wtih Deno and Lume
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://geauxweisbeck4.dev"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670302205/darkhuskerjs_iiidgq.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">HuskerJS.dev</div>
 								<p class="mb-4 text-slate-900">
 								  College football blogging platform.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://huskerjs.dev"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670301982/geauxrandomnotegenerator_ap4azm.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">Geaux's Random Quote Generator</div>
 								<p class="mb-4 text-slate-900">
 								  A random quote generator made with vanilla JavaScript.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://geaux-quotes.netlify.app/"
 								>
                                    Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670383263/geaux-recipes_kqwvxr.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">Geaux Recipes App</div>
 								<p class="mb-4 text-slate-900">
 								  My recipe book app.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://geauxrecipes.netlify.app/"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670390628/productengagementsprint_ps22gy.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">The Product Engagement Sprint Blog</div>
 								<p class="mb-4 text-slate-900">
 								  This blog follow my adventures in the Section 4 Product Engagement Sprint
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://geauxengagingproducts.vercel.app"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670401591/denoblog_nc3xwt.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">GeauxWeisbeck4.deno.dev Blog</div>
 								<p class="mb-4 text-slate-900">
 								  This is my blog I made with the Deno blog repository and also the blog for this website
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://geauxweisbeck4.deno.dev"
 								>
 								   Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-indigo-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670876146/anloj_u0kpmp.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">Andrew Weisbeck Daily Log Blog</div>
 								<p class="mb-4 text-slate-900">
 								  An 11ty blog I made to log my daily dev activities.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://andrewweisbeck-blog.netlify.app/"
 									target="_blank"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- card -->
 					<div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-sky-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670383224/tarheelwindowashin_lsx7yv.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">Tar Heel Window Washin'</div>
 								<p class="mb-4 text-slate-900">
 								  A website for Lisa and I's window washing business.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://tarheelwindows.netlify.app/"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 					<!-- end card -->
 					<!-- Card -->
                              
                              <div class="w-full my-2 overflow-hidden md:my-6 md:px-6 md:w-1/2 lg:w-1/3">
 						<div class="bg-white border-b-4 border-sky-500 rounded-lg">
 							<img
 								class="object-fill w-full border-5 border-cyan-600"
 								src="https://res.cloudinary.com/dvsjspnnz/image/upload/v1684536252/dashy_fmcugo.png"
 								alt="placeholder"
 							/>

 							<div class="p-4">
 								<div class="mb-2 text-xl font-medium text-slate-900">Geaux Dashboard</div>
 								<p class="mb-4 text-slate-900">
 								   A dashboard for viewing backend things with Dashy.
 								</p>
 								<button
 									class="px-4 py-2 text-indigo-100 bg-indigo-500 border-indigo-900 rounded-lg hover:bg-blue-800"
 									onclick="https://mellifluous-llama-c6c038.netlify.app/"
 								>
 								  Check it out!
 								</button>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			<!-- end experience -->
 			</div>
 		</div>
