<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-9">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <script src="https://kit.fontawesome.com/c8e842a55c.js" crossorigin="anonymous"></script>
    <!-- kaption.co -->
    <script src="https://tag.kaption.co/pr636d2c4b72cfbc1b20259d8d.js" async></script>
  </head>
  <body>
    <div class="w-screen bg-slate-900 text-slate-50 max-h-max">
        <header>
        <nav class="relative flex flex-wrap items-center px-20 justify-between justify-items-center list-none py-2 text-yellow-400">
            <div class="container-fluid w-full flex flex-wrap justify-center items-center">
                <h1 class="text-3xl text-emerald-500 hover:text-orange-500 hover:underline font-bold text-center pt-4 mb-4"><a href="https://geauxweisbeck4.dev">@GeauxWeisbeck4</a></h1>
            <ul class="flex pl-40 mr-auto">
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="/">Home</a>
                </li>
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="/about">About</a>
                </li>
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="https://geauxweisbeck4.deno.dev/">Blog</a>
                </li>
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="/projects">Projects</a>
                </li>
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="/resources">Resources</a>
                </li>
                <li class="p-2 ml-4">
                    <a class="text-xl text-slate-50 hover:text-sky-400 font-semibold" href="https://geaux-docs.netlify.app/">Docs</a>
                </li>
            </ul>

            <a class="border-solid rounded-md border-3 border-pink-500 bg-emerald-700 hover:bg-sky-400 text-white hover:text-slate-900 py-2 font-bold px-4" href="/contact">Contact Me</a>
            </div>
        </nav>
        </header>

            {{ content | safe }}


        <div class="container mx-auto px-4 py-30 sm:px-6 xl:px-12">
          <div class="flex flex-col items-center justify-center space-y-6 text-center">
            <h1 class="text-4xl font-bold tracking-normal text-slate-50 sm:text-5xl lg:text-6xl">My Newsletter</h1>
              <p class="max-w-screen-sm text-lg text-slate-50 sm:text-2xl">Get my weekly newsletter directly to your inbox every week. I talk about coding, psychology, business, and life.</p>
              <form data-netlify="true" class="flex w-full max-w-md flex-col items-center space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3"><input type="email" required="" class="w-full rounded-md border bg-gray-50 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:cursor-not-allowed disabled:opacity-50" placeholder="you@website.com" value="" /><button type="submit" class="w-full rounded-md border border-blue-500 bg-blue-500 py-2 px-6 text-white transition hover:border-blue-600 hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:border-blue-500 disabled:hover:bg-blue-500 sm:max-w-max">Subscribe</button></form>
          </div>
        </div>

        <footer class="text-sky-300 body-font">
          <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
              <a href="/" class="flex title-font font-medium items-center md:justify-start justify-center text-sky-300 hover:text-rose-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">GeauxWeisbeck4</span>
              </a>
              <p class="mt-2 text-sm text-sky-300">This site was created with <a href="https://deno.land" class="hover:text-orange-500 font-bold">Deno</a> and <a href="https://lume.land" class="hover:text-orange-500 font-bold">Lume<a/>.</p>
            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
              <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-slate-100 tracking-widest text-sm mb-3">CATEGORIES</h2>
                <nav class="list-none mb-10">
                  <li>
                    <a href="/about" class="text-slate-400 hover:text-slate-50">About</a>
                  </li>
                  <li>
                    <a href="/blog" class="text-slate-400 hover:text-slate-50">Blog</a>
                  </li>
                  <li>
                    <a href="/projects" class="text-slate-400 hover:text-slate-50">Projects</a>
                  </li>
                  <li>
                    <a href="/docs" class="text-slate-400 hover:text-slate-50">Docs</a>
                  </li>
                </nav>
              </div>
              <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-slate-100 tracking-widest text-sm mb-3">OTHER SITES</h2>
                <nav class="list-none mb-10">
                  <li>
                    <a href="https://tarheeldevstudio.com" class="text-slate-400 hover:text-slate-50">Tar Heel Dev Studio</a>
                  </li>
                  <li>
                    <a href="https://geaux.codes" class="text-slate-400 hover:text-slate-50">Geaux Codes</a>
                  </li>
                  <li>
                    <a href="https://tarheelwindows.netlify.app/" class="text-slate-400 hover:text-slate-50">Tar Heel Window Washin</a>
                  </li>
                  <li>
                    <a href="https://huskerjs.dev" class="text-slate-400 hover:text-slate-50">Husker JS</a>
                  </li>
                </nav>
              </div>
              <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-slate-100 tracking-widest text-sm mb-3">RESOURCES</h2>
                <nav class="list-none mb-10">
                  <li>
                    <a href="https://deno.land" class="text-slate-400 hover:text-slate-50">Deno</a>
                  </li>
                  <li>
                    <a href="https://lume.land" class="text-slate-400 hover:text-slate-50">Lume</a>
                  </li>
                  <li>
                    <a href="https://uno.antfu.me/" class="text-slate-400 hover:text-slate-50">UnoCSS</a>
                  </li>
                  <li>
                    <a href="https://netlify.com" class="text-slate-400 hover:text-slate-50">Netlify</a>
                  </li>
                </nav>
              </div>
              <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-slate-100 tracking-widest text-sm mb-3">SHOP & PARTNERSHIPS</h2>
                <nav class="list-none mb-10">
                  <li>
                    <a href="/" class="text-slate-400 hover:text-slate-50">My Store</a>
                  </li>
                  <li>
                    <a href="https://netlify.com" class="text-slate-400 hover:text-slate-50">Netlify</a>
                  </li>
                  <li>
                    <a href="https://storyblok.com" class="text-slate-400 hover:text-slate-50">Storyblok CMS</a>
                  </li>
                  <li>
                    <a href="https://tarheeljava.dev" class="text-slate-400 hover:text-slate-50">Tar Heel Java</a>
                  </li>
                </nav>
              </div>
            </div>
          </div>
          <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
              <p class="text-gray-500 text-sm text-center sm:text-left"> © 2022 All rights reserved
                <a href="https://twitter.com/geauxweisbeck4" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@GeauxWeisbeck4</a>
              </p>
              <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <a class="text-gray-500 href="https://facebook.com/geauxweisbeck4">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-500 href="https://twitter.com/geauxweisbeck4">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-500 href="https://instagram.com/geauxweisbeck4">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-500 href="https://linkedin.com/in/geauxweisbeck4">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </footer>
    </div>
  </body>
</html>
